.navbar{
    margin: 0px;
    position: relative;
    height: 50px;
    z-index: 1;
}
#menubtn{
    height: 25px;
    width: 25px;
    margin-top: 3px;
    margin-left: 65px;
    color: #60a5a5;
}

#nav {
    position: fixed;
    width: 100%;
    height: 75px;
    box-shadow:  0px 1px 5px gray;
}
#logo{
    padding-left: 30px;
    font-family: "Vollkorn",serif;
    font-weight: bolder;
    word-spacing: 3px;
    font-size:22px ;
}

#navbarSupportedContent {
    padding-left: 380px;

}

#navbarSupportedContent ul li {
    padding-left: 40px;
    font-size: 16px;

}
#logo{
    color: #60a5a5;
    margin-top: 5px;

}
#getDic,#booking,#call{
    color: #60a5a5;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
#getDic:hover,#booking:hover,#call:hover,#logo:hover{
    color: gray;
}
.icon{
    margin-right: 10px;
    margin-bottom: 5px;
}