.gallery {
    position: relative;
    bottom: 100px;
    width: 100%;
     /* background-color: red;  */
     top: 1px;

}

#gallery-container {
    display: flex;
    width: 100%;
    /* background-color: blue; */
    justify-content: center;

}

#gallery-container-main {
    display: flex;
    width: 100%;
    /* background-color: rgb(0, 255, 13); */
    justify-content: center;
    padding-left: 50px;

 


}

#gallery {
    font-size: 1em;
    font-family: "Vollkorn", serif;
    font-weight: 700;
}

#gallery-line {
    border: 1px solid black;
    width: 50px;
    color: black;
    margin-left: 650px;
    justify-content: center;
}

#gallery-img {
    width: 334px;
    height: 334px;
    margin-top: 15px;
}

#gallerycard {
    /* background-color: rgb(255, 0, 0); */
    width: 335px;
}